body{
  background-color:#ffffff;
}
.navbar a {
  color: #ffffff;
  font-weight: bold;
}
.navbar-brand>img {
  height: 100%;
  width: auto;
}
.nav.navbar-nav.navbar-left li a {
  color: #ffffff;
  font-weight:bold;
  
}
.nav.navbar-nav.navbar-right li a {
  color: #ffffff;
  font-weight:bold;
 
}

/*CSS for h1 and p of the home page*/
div.background{
  background: url(BoardGame5555.jpg);
  width: 620px;
  height: 620px;
  border-radius: 30px;
  background-repeat:no-repeat 50% 50%;
  background-position: absolute;
  margin: auto;
  z-index: -1;
  left: 0; 
  right: 0;
  top: 0;
  bottom: 0;  
  text-align: center;
  display: block;
  line-height: 100px; 
  
  
}
.background h1{
  font-size:65px;
   color:#ffffff;
   font-weight: bold; 
   text-align: center;
}
.background p {
   font-size: 20px;
   font-weight: 200; 
   color:#ffffff;
   text-align: center;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active{
  background-color: orange!important;
  color:#ffffff;
  font-weight: bold;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active{
  background-color: #ffffff;
  color:black;
  font-weight: bold;
  }
            

/* CSS for the form */

@import "http://fonts.googleapis.com/css?family=Ubuntu";
div#main{
width:830px;
height:650px;
margin:0 auto;
font-family:'Ubuntu',sans-serif
}
div#form_sample{
text-align:center;
border:1px solid #ccc;
width:300px;
padding:0 50px 15px;
margin-top:20px;
box-shadow:0 0 15px;
border-radius:6px;
float:center
}
#main h1{
margin-top:40px
}
hr{
margin-top:-5px
}
label{
float:left;
font-size:16px
}
input[type="text"]{
width:100%;
margin-top:10px;
height:35px;
margin-bottom:25px;
padding:10px;
border:3px solid #2BC1F2
}
textarea{
width:100%;
border:3px solid #2BC1F2;
padding:10px;
margin-bottom:25px;
margin-top:10px;
height:100px;
resize:none
}
input[type="submit"]{
width:100%;
padding:10px 45px;
background-color:#2BC1F2;
border:none;
color:#fff;
font-size:18px;
font-weight:700;
cursor:pointer;
font-family:'Ubuntu',sans-serif
}
/* -------------------------------------
CSS for Sidebar (optional)
---------------------------------------- */
div#fugo{
float:right
}


