
/*CSS for the horizontal menu bar*/
div.nav{
  background-color:  #1b415e;
}
div.container{
   background-color:  #1b415e;
}
ul.pull-left{
    list-style-type: none;
    margin: 0;
    padding:0;
    overflow: hidden;
    background-color: #1b415e;
}
li {
    float:left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 50px 16px 0;
    text-decoration: none;
}
li a:hover:not(.background){
  background-color:  darkcyan;
}
ul.pull-left li li a{
  position: absolute;
  width: 200px;
  display: none;
}
  
/*CSS for the horizontal menu bar end*/

body{
  background-color:#ffffff;
}
/*CSS for h1 and p of the home page*/
div.background{
  background: url(BoardGame5.jpg);
  opacity: 0.5;
  width: 820px;
  height: 545px;
  background-repeat:no-repeat 50% 50%;
  background-position: absolute;
  margin: auto;
  z-index: -1;
  left: 0; 
  right: 0;
  top: 0;
  bottom: 0;  
  text-align: center;
  display: block;
  line-height: 100px; 
  
  /*
   
 
   
  */
  
}
.background h1{
  font-size:45px;
   color:black; 
   opacity:1;
}
.background p {
   font-size: 27px;
   font-weight: 200; 
   color:black;
   opacity:1;
}
       
            



